



<%- include('../partials/admin/header') %> 
         <!-- Main Dashboard section -->
         <main class="p-3">
            <div class="container-fluid">
                <div class="mb-3 text-center">
                   <h1 style="font-weight: bold;"> Admin Panel</h1>
                </div>
    
            </div>
        </main>
<%- include('../partials/admin/footer') %> 






   