<link rel="stylesheet" href="styles/signup_styles.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="container" id="container">
    
    <div class="form-container sign-in-container">
        <form method="post" action="/changePassword">
            
            <input type="password" name="currentPassword" placeholder="Current Password" id="currentPassword"class=form-control onkeyup="validateCurrentPassword()"/>
            <span class="error" id="currentPassword-error"></span>

            <input type="password" name="password" placeholder="New Password" id="password" class=form-control onkeyup="validatePassword()"/>
            <span class="error" id="password-error"></span>

            <input type="password" name="confirmPassword" placeholder="Confirm New Password" id="confirmPassword"
                class=form-control onkeyup="validateConfirmPassword() " />
            <span class="error" id="confirmPassword-error"></span>

            <button type="submit" class="formSubmit" style="margin-top:10px;" onclick="return validateForm()">Save</button>
            <span class=" error" id="submit-error"></span>

            <% if(locals.message && message.length > 0) { %>
                <span style="color: crimson; font-size: 12px; font-weight: bold; padding: 20px;"><%= message %></span>
             <% } %>

           
        </form>
    </div> 
    <div class="overlay-container">
        <div class="overlay">
        
             <div class="overlay-panel overlay-right">
                <h1>Change Password</h1>
                <p> "Enter your new password."</p>
              
            </div>
        </div>
    </div>
</div>

<script>
    const curPasswordError = document.getElementById("currentPassword-error")
    const passwordError = document.getElementById("password-error");
    const cpasswordError = document.getElementById("confirmPassword-error");
    const submitError = document.getElementById("submit-error");

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@.#$!%*?&])[A-Za-z\d@.#$!%*?&]{8,15}$/;

    function validateCurrentPassword() {
    const currentPassword = document.getElementById('currentPassword').value;

    if (currentPassword.length == 0) {
        curPasswordError.textContent = "This field is required";
        return false;
    }

    if (!passwordRegex.test(currentPassword)) {
        curPasswordError.textContent = "Should contain one uppercase,one lowercase ,one digit and one special character";
        return false;
    }

    curPasswordError.textContent = '';
    return true;

}

    
    function validatePassword() {
    const password = document.getElementById('password').value;
    const currentPassword = document.getElementById('currentPassword').value;

    if (password.length == 0) {
        passwordError.textContent = "This field is required";
        return false;
    }

    if (!passwordRegex.test(password)) {
        passwordError.textContent = "Should contain one uppercase,one lowercase ,one digit and one special character.";
        return false;
    }
    if(password === currentPassword){
        passwordError.textContent = "New password must be different from current password.";
        return false;
    }
    passwordError.textContent = '';
    return true;

}
    function validateConfirmPassword() 
{   
    const password = document.getElementById('password').value;
    const cpassword = document.getElementById('confirmPassword').value;

    if (cpassword.length == 0) {
        cpasswordError.textContent = "This field is required";
        return false;
    }
    if (password !== cpassword) {
        cpasswordError.textContent = "Password must match"
        return false;
    }

    cpasswordError.textContent = '';
    return true;
}

function validateForm() {
    if (!validatePassword()||!validateConfirmPassword()||!validateCurrentPassword() ) {
        submitError.style.display = "block";
        submitError.textContent = "Please fill all fields and then submit";
        setTimeout(function () { submitError.style.display = "none"; }, 3000)
        return false;
    }
}


</script>
