<link rel="stylesheet" href="styles/signup_styles.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form method="post" action="/signup" id="signup-form">
            <h1>Create Account</h1>
            <div class="social-container">
                <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a> -->
                <a href="/auth/google" class="social"><i class="fab fa-google"></i></a>
                  <!-- <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                <a href="#" class=" social"><i class="fab fa-apple"></i></a> --->
            </div>
            <span>or use your email for registration</span>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------- -->

            <input type="text" name="name" placeholder="Name" id="name" class=form-control onkeyup="validateName()" />
            <span class="error" id="name-error"></span>

            <input type="email" name="email" placeholder="Email" id="email" class=form-control onkeyup="validateEmail()"/>
            <span class="error" id="email-error"></span>

            <input type="text" name="phone" placeholder="Phone Number" id="phone" class=form-control onkeyup="validatePhone()"/>
            <span class="error" id="phone-error"></span>

            <input type="password" name="password" placeholder="Password" id="password" class=form-control onkeyup="validatePassword()"/>
            <span class="error" id="password-error"></span>

            <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword"
                class=form-control onkeyup="validateConfirmPassword() " />
            <span class="error" id="confirmPassword-error"></span>

            <!-- refferal -->
            <input type="text" name="referral" placeholder="Referral code (Optional)" id="referral" class=form-control />
            

            <button type="submit" class="formSubmit" onclick="return validateForm()">Sign Up</button>
            <span class=" error" id="submit-error"></span>

            <% if(locals.message && message.length > 0) { %>
                <span style="color: crimson; font-size: 12px; font-weight: bold; padding: 20px;"><%= message %></span>
             <% } %>  
<!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------- -->
        </form>
    </div>

    <!---------------------------------------------------------------------------- ----------------------------------------------------------------------------- -->
    <div class="form-container sign-in-container">
        <form method="post" action="/signin">
            <h1>Sign in</h1>
            <div class="social-container">
                <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a> -->
                <a href="/auth/google" class="social"><i class="fab fa-google"></i></a>
                <!-- <a href="#" class="social"><i class="fab fa-instagram"></i></a>
                <a href="#" class=" social"><i class="fab fa-apple"></i></a> -->
            </div>
            <span>or use your account</span>
            <input type="email" name="email" placeholder="Email" />
            <input type="password" name = "password"placeholder="Password" />
            <a href="/forgotPassword">Forgot your password?</a>
            <button>Sign In</button>

           
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script src="js/signup.js"></script>
<script src="js/valSignup.js"></script>
